<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :site %>
    <%= partial 'partials/meta-seo' %>
    <%= google_analytics_tag %>
  </head>

  <body class="<%= page_classes %>">
    <main>
      <!-- CONTENT SHOWS HERE -->
      <%= yield %>
      <div class="overlay"></div>
      <div class="stars"></div>
    </main>
    <%= partial 'layouts/partials/footer' %>
    <div class="torn-paper hide-on-small-only"></div>
    <div class="torn-paper-l hide-on-med-and-down"></div>
    <%= javascript_include_tag :all %>
  </body>
</html>
